/*navbar.js*/
.nav {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
}

@media (max-width: 768px) {
    .nav {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    /*.items {
        font-size: 0.8rem;
        padding-top: 1rem;  
    }
    .items a{
        padding-left: 1rem;
    }*/
    
}

@media (max-width: 428px) {
    
    .hamburger {
        display: flex;
    }

    .logo {
        display: none;
    }
    .navlinks {
        display: none;
              
    }
    
}

