.items {

    text-align: right;
}
.items a{
    padding-left: 1.5rem;
    color: #606060;
}

.items a:hover {
    color: #368ddd;
}

@media (max-width: 768px) {
    /*.items {
        font-size: 0.7rem; 
      }  */
  }

@media (max-width: 428px) {
    .items {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        text-align: right;
        background-color: white;    
        align-self: center; 
      }
      .items a{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
      
  }