.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: #f0f0f0;
    color: #606060;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
   
}

.box {
   width: 50%;
}

.img {
    display: flex;
    align-self: flex-end;
}

.box h2 {
    margin-bottom: -20px;
}

.title1 {
    color: #368ddd;
    font-weight: 100;
}

.title2 {
    color: #368ddd;

}

.container h4{
    color: #368ddd;
    font-weight: 100;
    margin-top: 40px;
}

.li {
    padding-top: 1rem;
    padding-left: 0.9rem;
    font-weight: 500;

}

.box button{
    border: none;
    background-color: #368ddd;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 1rem;
}

@media (max-width: 428px) {
    .container {
        display: block;
    }
    .box {
        width: 0;
        margin-left: 0;
        padding: 0;      
    }
    
}

@media (max-width: 768px) {
    .container {
        display: block;
    }

    .box {
        width: 100%;
        text-align: center;
        padding-bottom: 4rem;   
    }
    
}


