.banner {
    background-image: url("/img/about/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 47rem;
}



.about {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
}

.box {
    background: linear-gradient(to left, #0063a0, #64d9ed);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    color: white;
}

.box h1 {
    text-align: left;
}

.box button {
    border: none;
    background-color: white;
    color: #0063a0;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}


@media (max-width: 768px) {
    .box {
        text-align: center;
    }
}

@media (max-width: 428px) {
    .rrss {
        width: 1.5rem;
        position:absolute;
        top:140px;
        left:380px
    }
    
    .box {
        display: block;
    }

    .box h1 {
        text-align: center;
    }
}



