.banner {
    background-image: url("/img/about/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 47rem;
}



.about {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    color: #368ddd;
}


@media (max-width: 768px) {
    .box {
        text-align: center;
    }
}

@media (max-width: 428px) {
    .rrss {
        width: 1.5rem;
        position:absolute;
        top:140px;
        left:380px
    }
    
}



