.container {
    width: auto;
}

.banner {
    background-image: url("/img/home/somos.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
   
}

.title {
    color: #f0f0f0;
    font-size: 1.8rem;
    line-height: 1.5rem;
    border-bottom: solid 4px #0063a0;
}
.title1 {
    font-weight: 100;
}

.about {
    background-color: #f0f0f0;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
}

.contact {
    display: flex;
    justify-content: space-between;
}

.map {
    border: 0;
}

@media (max-width: 768px) {
    .map {
        width: 25rem;
        height: 36rem;
        
    }
   
   
    
}

@media (max-width: 428px) {
    .rrss {
        width: 1.5rem;
        position:absolute;
        top:140px;
        left:390px;
    }
    .contact {
        display: block;
    }
    .map {
        width: 26.7rem;
        height: 15rem;
    }
    
    .title {
        font-size: 1.2rem;
        line-height: 0.8rem;
    }

   
}





