.about {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 40rem;
}

.box h2 {
    color: #368ddd;
}

.box p {
    color: #606060;
}

.box h4 {
    color: #368ddd;
    font-weight: 100;
}

.box button {
    border: none;
    background-color: #368ddd;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 5px;
}

.box button:hover {
    background-color: #52a4f1;
}

.img {
    display: flex;
    align-self: flex-end;
}

@media (max-width: 768px) {
    .about {
        display: block;
    }
    .box h2 {
        font-size: 1.3rem;
    }
    .box {
        width: 100%;
        text-align: center;
        align-content: center;
    }
   
    .img {
        width: 35rem;
        padding-left: 0;
        margin-top: 50px;
        margin-left: 3.5rem;
       
    }   
}

@media (max-width: 428px) {
    .img {
        width: 120%;
        margin-left: -30px;

    }
    
    
}




